body {
    background-color: #FDFEFE;
}

nav {
    margin-bottom: 1em;
}

.wrapper {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

.inline {
    display: inline-block;
}

.error {
    color: red;
    font-weight: bold;
}

.mainForm {
    max-width: 65%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 10% 3em 10%;
}

.categoryHeading {
    font-size: 1.5em;
}

#welcomeUser {
    padding: .25em;
    padding-left: 20%;
    border-radius: 5px;
/*    todo */
}

#plannerContainer {
    max-height: 75vh;
    width: auto;
    overflow-y: scroll;
}

.plannerRow {
    margin-bottom: 2em;
}

#to-do-container {
    padding-left: 2em;
}

.list-group-item {
    padding: .5rem 1rem;
}

.fa-angle-left {
    margin-right: 1.5em;
}

.fa-angle-right {
    margin-left: 1.5em;
}

.warningMessage {
    text-align: center;
    color: red;
    font-weight: bold;
}

.shadedBackground {
    background-image: linear-gradient(-90deg, #F0F0F0, white);
    border-radius: 5px;
}

.card {
    margin-top: .6em;
    margin-bottom: .6em;
}

.required {
    color: red;
}

.frequency {
    font-size: .75em;
    font-style: italic;
}

.noLRPadding {
    padding-left: 0;
    padding-right: 0;
}

/**
* Scrollbar styles
 */
#plannerContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#plannerContainer::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#plannerContainer::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}