#mainLogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 10em;
    width: auto;
}

nav {
    margin-bottom: .5em;
}

.wrapper {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

.inline {
    display: inline-block;
}

.error {
    color: red;
    font-weight: bold;
}

#loginForm {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

.categoryHeading {
    font-size: 1.5em;
}

.plannerRow {
    margin-bottom: 2em;
}

.fa-angle-left {
    margin-right: 1.5em;
}

.fa-angle-right {
    margin-left: 1.5em;
}