.button-main {
    background-color: #0c3748;
    color: white;
}

.geometric {
    position: relative;
}

.geometric:before {
    z-index: -1;
    content: '';
    position: absolute;
    background-image: url(geometric-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    height: 100%;
    width: 100%;
}

nav {
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.navbar-brand {
    font-size: 2em;
    color: #404040;
}

.solidButton {
    background-color: #278e7e;
    color: white;
    margin-right: 1em;
    border-radius: 0.25rem;
}

.outlineButton {
    color: #278e7e;
    border: 1px solid #278e7e;
    border-radius: 0.25rem;
}

.wrapper {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
    color: #404040;
}


.inline {
    display: inline-block;
}

.mainForm {
    background-color: rgba(253, 254, 254, .85);
    max-width: 75%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 10% 4em 10%;
    border-radius: 15px;
}

.categoryHeading {
    font-size: 1.5em;
}

#welcomeUser {
    padding: .25em;
    padding-left: 20%;
    border-radius: 5px;
/*    todo */
}

#plannerContainer {
    max-height: 75vh;
    width: auto;
    overflow-y: scroll;
}

.plannerRow {
    margin-bottom: 2em;
}

#to-do-container {
    padding-left: 2em;
}

.list-group-item {
    padding: .5rem 1rem;
}

.fa-angle-left {
    margin-right: 1.5em;
}

.fa-angle-right {
    margin-left: 1.5em;
}

.userMessage {
    text-align: center;
}

.shadedBackground {
    background-image: linear-gradient(-90deg, #F0F0F0, white);
    border-radius: 5px;
}

.card {
    margin-top: .6em;
    margin-bottom: .6em;
}

.holiday {
    margin-left: .5em;
}

.required {
    color: red;
}

.frequency {
    font-size: .75em;
    font-style: italic;
}

.noLRPadding {
    padding-left: 0;
    padding-right: 0;
}

#removeTaskInstance {
    margin-bottom: 3em;
}

#goToDateSubmit {
    margin-left: .75em;
    max-width: fit-content;
}

#userSettings {
    max-width: 70%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.form-check {
    margin-left: 2em;
}

/**
* Scrollbar styles
 */
#plannerContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#plannerContainer::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#plannerContainer::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}